.vs/
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
*.nupkg
*.snupkg
project.lock.json
packages/
TestResults/
*.coverage
*.coveragexml
coverage.cobertura.xml
coverage.json
coverage/
.idea/
*.DotSettings.user
Thumbs.db
.DS_Store
secrets.json
appsettings.Development.local.json
publish/